<div class="d-flex justify-content-center">
  <h3>Maestro de Ventas</h3>
</div>
<div class="d-flex flex-row-reverse">
  <button
    class="btn btn-warning ml-3"
    (click)="abrirModalAgregar(modalAgregar)"
  >
    Nueva Venta
  </button>
</div>

<div class="container-fluid">
  <div class="tableContent">
    <table class="table table-striped table-hover">
      <thead>
        <th>Id</th>
        <th>Total</th>
        <th>Fecha de Registro</th>
        <th class="text-center">Lista de Detalles Modal</th>
        <th class="text-center">Lista de Detalles Tabla</th>
      </thead>
      <tbody>
        <tr *ngFor="let venta of lista_ventas">
          <td>{{ venta.venta_id }}</td>
          <td>{{ venta.total }}</td>
          <td>{{ venta.fecha_registro | fbdate | date: "medium" }}</td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-warning"
              (click)="abrirModalDetalles(modalDetalles, venta)"
            >
              <i class="fa fa-list"></i>
            </button>
          </td>
          <td class="text-center">
            <button
              type="button"
              class="btn btn-primary"
              (click)="collapse.toggle()"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample"
            >
              Expandir detalles
            </button>

            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
              <div class="card mt-3">
                <div class="card-body">
                  <table class="table table-striped table-hover">
                    <thead>
                      <th>Nombre</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Descripción</th>
                      <th>Imagen</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let detalle of venta.detalles">
                        <td>{{ detalle.nombre }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.precio }}</td>
                        <td>{{ detalle.descripcion }}</td>
                        <td>
                          <img
                            [src]="detalle.imagen"
                            width="50px"
                            height="40px"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modalAgregar let-c="close" let-d="dismiss">
  <div class="modal-header d-flex align-items-center">
    <span class="h5 m-0"
      ><i class="fa fa-filter mr-1"></i>Modal Nueva Venta</span
    >
    <button class="close d-flex text-dark m-0 p-0" (click)="d('Cross click')">
      Cerrar modal
    </button>
  </div>

  <div class="modal-body">
    <app-agregar-venta></app-agregar-venta>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-lg"
      (click)="c('Close')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #modalDetalles let-c="close" let-d="dismiss">
  <div class="modal-header d-flex align-items-center">
    <span class="h5 m-0"
      ><i class="fa fa-filter mr-1"></i>Detalles de la venta
      {{ venta_seleccionada.venta_id }}
    </span>
    <button class="close d-flex text-dark m-0 p-0" (click)="d('Cross click')">
      Cerrar modal
    </button>
  </div>

  <div class="modal-body">
    <table class="table table-striped table-hover">
      <thead>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Imagen</th>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of venta_seleccionada.detalles">
          <td>{{ detalle.nombre }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.precio }}</td>
          <td>{{ detalle.descripcion }}</td>
          <td>
            <img [src]="detalle.imagen" width="50px" height="40px" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-lg"
      (click)="c('Close')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
