<div class="d-flex justify-content-center">
  <h3>Maestro de Productos</h3>
</div>
<div class="d-flex flex-row-reverse">
  <button
    class="btn btn-warning ml-3"
    (click)="abrirModalAgregar(modalAgregar)"
  >
    Agregar producto
  </button>
</div>

<div class="container-fluid">
  <div class="tableContent">
    <table class="table table-striped table-hover">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio $</th>
        <th>
          <i class="fa fa-picture-o"></i>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let producto of lista_productos">
          <td>{{ producto.producto_id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="abrirModalImagen(modalImagen, producto.imagen)"
            >
              <i class="fa fa-picture-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modalImagen let-c="close" let-d="dismiss">
  <div class="modal-header d-flex align-items-center">
    <span class="h5 m-0"><i class="fa fa-filter mr-1"></i>Modal de Imagen</span>
    <button class="close d-flex text-dark m-0 p-0" (click)="d('Cross click')">
      Cerrar modal
    </button>
  </div>

  <div class="modal-body">
    <img [src]="imagenSeleccionada" />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-lg"
      (click)="c('Close')"
    >
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #modalAgregar let-c="close" let-d="dismiss">
  <div class="modal-header d-flex align-items-center">
    <span class="h5 m-0"
      ><i class="fa fa-filter mr-1"></i>Modal Registrar Producto</span
    >
    <button class="close d-flex text-dark m-0 p-0" (click)="d('Cross click')">
      Cerrar modal
    </button>
  </div>

  <div class="modal-body">
    <app-agregar-productos></app-agregar-productos>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary btn-lg"
      (click)="c('Close')"
    >
      Cerrar
    </button>
  </div>
</ng-template>
