<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-center">
      <h1>Sistema de venta de productos</h1>
    </div>
    <div *ngIf="checkLogin()" class="d-flex flex-row-reverse">
      <button class="btn btn-danger" (click)="logOut()">Cerrar Sesión</button>
    </div>
    <div *ngIf="!checkLogin()" class="d-flex flex-row-reverse">
      <div class="p-2">
        <button class="btn btn-primary" [routerLink]="['/login']">
          Logear
        </button>
      </div>
      <div class="p-2">
        <button class="btn btn-secondary" [routerLink]="['/register/']">
          Registrar
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- comentar y descomentar los componentes a su requerimiento -->
<!-- <app-menu></app-menu> -->
<!-- <app-agregar-productos [nombre]="usuario"></app-agregar-productos> -->
<!-- <app-agregar-venta></app-agregar-venta> -->
